<div class="step-tracker">
  <div class="step"
    *ngFor="let step of steps"
    [class.done]="step.state === 'done'"
    [class.current]="step.state === 'current'"
    [class.pending]="step.state === 'pending'"
    [class.cancelled]="step.state === 'cancelled'"
    [class.rejected]="step.state === 'rejected'">
    <div class="step-box">
      <div class="icon-container"><i [class]="step.icon"></i></div>
      <div class="label">{{ step.name }}</div>
    </div>
    <div class="step-line"></div>
  </div>
</div>
